.navbar {
  padding:0rem;
  border-bottom: black solid 1px;
}
.fsize {
  font-family: Verdana, Arial, Helvetica, sans-serif !important;
  font-size: 2rem !important;
}

.dropdown .dropdown-menu {
  border-radius:0;
 }

.sml {
  font-size: x-small;
}
/* Medium devices (tablets, 768px and up)
The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  border-radius:0;
 }
}

@media (min-width: 480px) {
	#inputfld {
    width: 14em;
}
}
@media (min-width: 520px) {
	#inputfld {
    width: 18em;
}
}
@media (min-width:1200px) {
	#inputfld {
    width: 24em;
}
}


.borderXwidth :hover {
    border-bottom: orange solid 1px;
 	font-size: large;
 	transition: all 0.5s;
}
.sml :hover {
    border-bottom: orange solid 1px;
  font-size: small;
  transition: all 0.5s;
}
.img {
    height:500px !important;
    width:100%;
}